Iris.csv
#Módulo 1. Introducción a Python.pdf
#Módulo 2. Introducción a Python.pdf
Módulo 3. Introducción a Python.pdf
Primeros_pasos_ML_UNAM.ipynb
README.md
Random_Forest_ML_UNAM.ipynb
Regresión_Lineal_Múltiple_ML_UNAM.ipynb
Regresión_Lineal_Simple_ML_UNAM.ipynb
Syllabus. Python de cero a ML.pdf
Visualización_Pandas_y_Seaborn_ML_UNAM.ipynb
Visualización_de_datos_ML_UNAM.ipynb
Árbol_de_decisión_ML_UNAM.ipynb